:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-size: 1.8rem;
  font-display: swap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #43200c;
}

button {
  background: none;
  border: transparent;
}
